.common-background{
    margin-top: -10px;
}

.dashboard-title {
    color:gold;
    margin-top: 80px;
    padding-left: 80px;
    margin-bottom: 80px;
}

.overall{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
}
h4{
    text-align: center;
}
p{
    text-align: center;
}

.admin-ui {
    margin-bottom: 200px;
}

.form {
    color:gold;
    text-align: center;
}

/*.input {*/
/*    color: white !important;*/
/*    background-color: black;*/
/*    padding: 10px;*/
/*    border-radius: 5px;*/
/*}*/

.button {
    border-radius: 10px;
    font-size: 30px;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 40px;
    color: white;
    background-color: rgb(80,80,80);
}

.button:hover {
    cursor: pointer;
    background-color: rgb(120,120,120);
}

.large-button {
    border-radius: 10px;
    font-size: 50px;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.large-button:hover {
    cursor: pointer;
    background-color: rgb(120,120,120);
}

.inputs {
    margin-top: 10px;
    width: 400px;
    padding: 6px 12px;
    background: rgb(31, 32, 35);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 18px;
    color: rgb(247, 248, 248);
    height: 46px;
    appearance: none;
    transition: border 0.15s ease 0s;
}

.inputs:focus{
    outline: none;
    box-shadow: none;
    border-color: rgb(100, 153, 255);
}