.common-background{
    margin-top: -10px;
}

.dashboard-title {
    color: yellow;
    margin-top: 80px;
    padding-left: 80px;
    margin-bottom: 80px;
}

.overall{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
h4{
    text-align: center;
}
p{
    text-align: center;
}