/* General */
body {
    /*background: #b5cAD8;*/
    margin: 0;
    font-size: 0.9rem;
    color:gold;
    text-align: center;   
}
h1 {
    font-size: 4rem;
}
h2 {
    text-align: left;
    margin-left: 36.5rem;
    margin-bottom: 0;
}

 submit button
.btn {
    /*font-size: 1rem;*/
    color:#F7FFF7;
    font-size: 20px;
    /*background: #2F3061;*/
    background: rgb(150,150,150);
    text-decoration: none;
    padding: 20px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 50px;
    margin: 6px;
}
.btn:hover {
    cursor: pointer;
    background: rgb(170,170,170);
}