/* General */
body {
    background: #b5cAD8;
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-size: 0.9rem;
    color: #2F3061;
    text-align: center;   
}
h1 {
    font-size: 4rem;
}
h2 {
    text-align: left;
    margin-left: 36.5rem;
    margin-bottom: 0;
}

/* Input fields */
input[type = text] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 3px solid #2F3061;
} 

/* submit button */
.btn {
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    color:#F7FFF7;
    background: #2F3061;
    text-decoration: none;
    padding: 8px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 50px;
    margin: 6px;
    width: 12%;
}
.btn:hover {
    background: rgba(47, 48, 97, 80%);
}