/* General */
body {
    background: #b5cAD8;
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-size: 0.9rem;
    color: #2F3061;
    text-align: center;   
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5rem;
    
}

/* Input fields */



/* submit button */